*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
}

h1, h2, h3, h4, .message button{
	font-family: 'Shojumaru', cursive;
}

.left-align{
  text-align: left;
}
.right-align{
  text-align: right;
}

.left{
  float:left;
}
.right{
  float:right;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: white;
}

.message button{
	font-size: 1em;
	border:.1em solid black;
	margin: 0px 12px;
	padding: .2em .4em;
	border-radius: .25em;
	box-shadow: 0em .1em .1em silver;
	transition: box-shadow .75s ease;
  background-color: white;
}

.message button:hover{
  box-shadow: 0em .15em .3em gray; 
}

.message button:focus{
  outline: -webkit-focus-ring-color none 0px;
}

.board{
  box-shadow: 0px 0px 8px silver;
}

.square{
  float:left;
}

@media screen and (orientation:landscape) {
  .App-header{
    height: 10vh;
    padding: 2vh;
  }
  .App-header h2{
    font-size: 6vh;
    line-height: 6vh;
    margin:0px;
  }

  .scores{
    height:8vh;
    width: 96vh;
    padding:2vh 0vh 0vh 0vh;
    margin:0vh auto;
  }
  .scores h4{
    font-size: 3vh;
    padding:0vh;
    margin:0vh;
  }

  .message{
    height: 14vh;
    width: 54vh;
    padding:0vh;
    margin:0px auto;
  }
  .message h3{
    font-size: 3.6vh;
  }

  .board{
    width:54vh;
    height:54vh;
    margin: 2vh auto 1vh auto;
  }
  .square{
    width:18vh;
    height: 18vh;
  }
  .square h3{
    font-size: 12vh;
    line-height: 12vh;
    margin:3vh auto;
  }

  .error{
    height: 4vh;
  }
  .error p{
    font-size: 3vh;
    padding: 1vh 0vh 0vh 0vh;
    margin:0vh;
  }
}

@media screen and (orientation:portrait) {
  .App-header{
    height: 10vw;
    padding: 2vw;
  }
  .App-header h2{
    font-size: 6vw;
    line-height: 6vw;
    margin:0px;
  }

  .scores{
    height:8vw;
    width: 96vw;
    padding:2vw 0vw 0vw 0vw;
    margin:0vw auto;
  }
  .scores h4{
    font-size: 3vw;
    padding:0vw;
    margin:0vw;
  }

  .message{
    height: 14vw;
    width: 54vw;
    padding: 0vw;
    margin:0px auto;
  }
  .message h3{
    font-size: 3.6vw;
  }

  .board{
    width:54vw;
    height:54vw;
    margin: 2vw auto 1vw auto;
  }
  .square{
    width:18vw;
    height: 18vw;
  }
  .square h3{
    font-size: 12vw;
    line-height: 12vw;
    margin:3vw auto;
  }

  .error{
    height: 4vw;
  }
  .error p{
    font-size: 3vw;
    padding: 1vw 0vw 0vw 0vw;
    margin:0vw;
  }
}