*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
}

h1, h2, h3, h4, .message button{
	font-family: 'Shojumaru', cursive;
}

.left-align{
  text-align: left;
}
.right-align{
  text-align: right;
}

.left{
  float:left;
}
.right{
  float:right;
}

