.square{
  float:left;
}

@media screen and (orientation:landscape) {
  .square{
    width:18vh;
    height: 18vh;
  }
  .square h3{
    font-size: 12vh;
    line-height: 12vh;
    margin:3vh auto;
  }
}

@media screen and (orientation:portrait) {
  .square{
    width:17vw;
    height: 17vw;
  }
  .square h3{
    font-size: 11vw;
    line-height: 11vw;
    margin:3vw auto;
  }
}

@media screen and (max-aspect-ratio:3/4){
  .square{
    width:22vw;
    height: 22vw;
  }
  .square h3{
    font-size: 16vw;
    line-height: 16vw;
    margin:4vw auto;
  }
}


@media screen and (max-aspect-ratio:9/16){
  .square{
    width: 30vw;
    height: 30vw;
  }
  .square h3{
    font-size: 20vw;
    line-height: 20vw;
    margin:5vw auto;
  }
}
